services:
  mysql: 
      image: mysql:8.0
      restart: unless-stopped
      environment: 
          MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD} 
          MYSQL_DATABASE: ${MYSQL_DATABASE} 
          MYSQL_USER: ${MYSQL_USER} 
          MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      volumes: 
         - mysql_data:/var/lib/mysql
      ports:
         - "3307:3306" 
      networks:
         dental_network:
  
      
      
  phpmyadmin:
      image: phpmyadmin/phpmyadmin
      restart: unless-stopped
      environment: 
          PMA_HOST: mysql
          MYSQL_DATABASE: ${MYSQL_DATABASE} 
          MYSQL_USER: ${MYSQL_USER} 
      depends_on: 
          - mysql
      ports:
         - "8080:80" 
      networks:
         dental_network:
  
networks:
  dental_network:
      
volumes:
  mysql_data:
    